@import 'fonts'
@import 'normalize'
@import 'variables'
@import 'interface'
@import 'grid'
@import 'settings'
@import 'templates/video'
@import 'templates/projects'
@import 'templates/header'
@import 'templates/hero'
@import 'templates/control'
@import 'templates/types'
@import 'templates/design'
@import 'templates/footer'
@import 'templates/animations'
@import 'templates/modal'

@import 'media'

.box
  width: 200px 
  height: 200px 
  z-index: 9999
  background-color: $primary
  animation-name: slideRight
  animation-duration: 3s
  // &__kar
  // z-index: 9999
  // margin: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;    

// .map
.ymaps-layers-pane 
	filter: grayscale(1)
	-ms-filter: grayscale(1)
	-webkit-filter: grayscale(1)
	-moz-filter: grayscale(1)
	-o-filter: grayscale(1)




 

  

  


  

  
  
      

     
      
      

  
   
